<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<div id="homeContainer">


  <%- include('partials/sidebar-alt.ejs') %>

  <div id="mainContainerAlt">

    <div id="editModal" class="homeModal"  style="display: none;">
      <div>
        <form action="/editfile/<%=file.id %>" method="post">
          <label>Edit File Name</label>
          <input  name="filename" value="<%=file.customName%>" type="text"/>
          <button type="submit" >Edit</button>
        </form>
        <button class="addFileModal">Close</button>
      </div>
    </div>  



  <% console.log(file) %>
    <h1>All File Information</h1>
    <div id="fileInfoContainer">
      <div id="folderInfoContainer">
        <div class="fileInfoRows">
          Current File Name: 
          <%= file.customName %>
        </div>
        <div class="fileInfoRows">
          Storage: 
        <% if (foldername !== null) { %>
            Stored In <%= foldername %>
        <% } else { %> 
            Not stored in Folder
        <% } %>
        </div>
      </div>
    <div class="fileInfoRows">
      Uploaded On: 
      <%= file.createdAt %>
    </div>
    <div class="fileInfoRows">
      Original File Name: 
      <%= file.fileName %>
    </div>
    <div class="fileInfoRows">
      File Type: 
      <%= file.fileType %>
    </div>
    <div class="fileInfoRows">
      File Size: 
      <%= file.size %> MBs
    </div>
    <div class="fileInfoRows">
      <div id="downloadFileBtn">
        <a href="<%= file.cloudUrl %>&fl_attachment=true" download="<%= file.customName %>">
          <button id="downloadBtnFileView" type="button" class="addFileModal">
            Download File
          </button>
        </a>
      </div>
    </div>
    <div class="fileInfoRows">
      <div id="editFileBtn">
        <button  type="button" id="fileEditBtn" class="addFileModal">
          Edit File
        </button>
      </div>
    </div>
  </div>
 </div>
</div>
<script src="/helpers.js"></script>