<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<div id="homeContainer">


  <%- include('partials/sidebar-alt.ejs') %>

  <div id="mainContainerAlt">

  <div id="downloadModal" class="homeModal" style="display: none;">
    <div>
      <h2>Download File?</h2>

      <form action="/home/download/<%= file.fileName %>" method="post">
        <button type="submit" >Download</button>
      </form>
      <button class="addFileModal">Close</button>
    </div>
  </div>


  <% console.log(file) %>
    <h1>All File Information</h1>
    <div id="fileInfoContainer">
      <div id="folderInfoContainer">
        <div class="fileInfoRows">
          Current File Name: 
          <%= file.fileName %>
        </div>
        <div class="fileInfoRows">
          Storage: 
        <% if (foldername !== null) { %>
            Stored In <%= foldername %>
        <% } else { %> 
            Not stored in Folder
        <% } %>
        </div>
      </div>
    <div class="fileInfoRows">
      Uploaded On: 
      <%= file.createdAt %>
    </div>
    <div class="fileInfoRows">
      Original File Name: 
      <%= file.fileName %>
    </div>
    <div class="fileInfoRows">
      File Type: 
      <%= file.fileType %>
    </div>
    <div class="fileInfoRows">
      File Size: 
      <%= file.size %> MBs
    </div>
  </div>
 </div>








</div>