<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>


<div id="homeContainer">

  <%- include('partials/sidebar.ejs') %>

  <div id="mainContainer">
        <div id="deleteModal" class="homeModal" style="display: none;">
      <div>
        <h2>Delete Files</h2>

        <% if (req.params.folderID == null) { %>
          <form action="/home/delete-all" method="post" >
            <div class="form-group">
              <label>Delete <b>all</b> Files?</label>
            </div>
            <button type="submit">Delete</button>
          </form>
          <button class="addFileModal">Close</button>
          <% } else { %>
          <form action="/home/delete-all/<%=req.params.folderID%>" method="post">
            <div class="form-group">
              <label>Delete <b>all</b> Files in <i> <%= folderInfo.name %> </i> ?</label>
            </div>
            <button type="submit">Delete</button>
          </form>
          <button class="addFileModal">Close</button>
          <% } %>
      </div>
    </div> 
    
    <h1>WELCOME BACK <%= currentUser.fname %></h1>

    <% if (folders !== null) { %>

    
      <h3>Folder Storages: </h3>
      <% folders.forEach((folder) => { %>
      
        <div class="filefoldersContainer">
          <a href="/home/folder/<%= folder.id %>">
            <div class="fileCells">
              <div>
                <%= folder.name %>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
      <div id="folderModal" class="homeModal"  style="display: none;">
        <div>
          <h2>Add A Folder</h2>
    
          <form action="/home/create" method="post">
            <label>Add a Folder Name</label>
            <input  name="foldername" type="text"/>
            <button type="submit" >Create</button>
          </form>
          <button class="addFileModal">Close</button>
        </div>
      </div>  
    <% } %>
    <% if (req.params.folderID == null) { %>
    <h2>All Uploaded Files:</h2>

    <% } else { %>
    <h2> <i> <%= folderInfo.name %> </i> Uploaded Files</h2>
    <% } %>

    <% if (files !== null) { %> 

      <% files.forEach((file) => { %>
    
        <div class="filefoldersContainer">
          <div class="fileLinkContainer">
            <a href="/filedetails/<%= file.id %>">
              <div class="fileCells" >
                <div>
                  <%= file.fileName %>
                </div>
                <div>
                  <%= file.createdAt%>
                </div>
              </div>
            </a>
          </div>

          <div class="fileTrash">
            <button type="button" class="addFileModal" id="deleteBtn">
              <img src="/icons/trash.svg" class="trashIcons">
            </button>
          </div>
        </div>

      <% }) %>
    <% } %>
    <div id="fileModal" class="homeModal" style="display: none;">
      <div>
        <% if (req.params.folderID == null) { %>
          <h2>Add a File</h2>
      
          <% } else { %>
          <h2>Add a File to <i> <%= folderInfo.name %> </i></h2>
          <% } %>

          <% if (req.params.folderID == null) { %>
              <form action="/home/upload" method="post" enctype="multipart/form-data">        
            <% } else { %>
              <form action="/home/upload/<%=req.params.folderID%>" method="post" enctype="multipart/form-data">
            <% } %>

          <div class="form-group">
            <input type="file" class="form-control-file" name="uploaded_file">
            <input type="submit" value="Upload" class="btn btn-default">
          </div>
        </form>
        <button class="addFileModal">Close</button>
      </div>
    </div> 
  </div>
</div>
<script src="/helpers.js"></script>
