<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>


<div id="homeContainer">

  <%- include('partials/sidebar.ejs') %>

  <div id="mainContainer">
    <div id="welcomeMsg">Welcome back, <%= currentUser.fname %></div>

    <% if (folders !== null) { %> 
      <% if (folders.length !== 0) { %>

        <div>
          All Folders
        </div>
        

        <% folders.forEach((folder) => { %>
        
          <div class="filefoldersContainer">
            <a href="/home/folder/<%= folder.id %>">
              <div class="fileCells">
                <div>
                  <%= folder.name %>
                </div>
              </div>
            </a>
          </div>
        <% }) %>
      <% } %>
    <% } %>
      <div id="folderModal" class="homeModal"  style="display: none;">
        <div>
          <h2>Add A Folder</h2>
    
          <form action="/home/create" method="post">
            <label>Add a Folder Name</label>
            <input  name="foldername" type="text"/>
            <button type="submit" >Create</button>
          </form>
          <button class="addFileModal">Close</button>
        </div>
      </div>  

    <div id="fileModal" class="homeModal" style="display: none;">
      <div>
        <% if (req.params.folderID == null) { %>
          <h2>Add a File</h2>
      
          <% } else { %>
          <h2>Add a File to <i> <%= folderInfo.name %> </i></h2>
          <% } %>

          <% if (req.params.folderID == null) { %>
              <form action="/home/upload" method="post" enctype="multipart/form-data">        
            <% } else { %>
              <form action="/home/upload/<%=req.params.folderID%>" method="post" enctype="multipart/form-data">
            <% } %>

          <div class="form-group">
            <input type="file" class="form-control-file" name="uploaded_file">
            <input type="submit" value="Upload" class="btn btn-default">
          </div>
        </form>
        <button class="addFileModal">Close</button>
      </div>
    </div>

    <div id="deleteModal" class="homeModal" style="display: none;">
      <div>
        <h2>Delete Files</h2>

        <% if (req.params.folderID == null) { %>
          <form action="/home/delete-all" method="post" >
            <div class="form-group">
              <label>Delete <b>all</b> Files?</label>
            </div>
            <button type="submit">Delete</button>
          </form>
          <button class="addFileModal">Close</button>
          <% } else { %>
          <form action="/home/delete-all/<%=req.params.folderID%>" method="post">
            <div class="form-group">
              <label>Delete <b>all</b> Files in <i> <%= folderInfo.name %> </i> ?</label>
            </div>
            <button type="submit">Delete</button>
          </form>
          <button class="addFileModal">Close</button>
          <% } %>
      </div>
    </div>  


    <% if (req.params.folderID == null) { %>
    <div>
      All Uploaded Files
    </div>

    <% } else { %>
    <h2> <i> <%= folderInfo.name %> </i> Uploaded Files</h2>
    <% } %>



    <% if (files !== null) { %> 

      <% files.forEach((file) => { %>
    
        <div class="filefoldersContainer">
          <a href="/filedetails/<%= file.id %>">
            <div class="fileCells" >
              <div id="fileDate">
                <%= file.createdAt%>
              </div>
              <div id="fileName">
                <%= file.fileName %>
              </div>
              <div id="fileSize">
                <%= file.size %> MBs
              </div>
            </div>
          </a>
          <% if (req.params.folderID == null) { %>
          <div class="fileTrash">
            <form action="/home/delete/<%= file.id %>" method="post">
              <button type="submit">
                <img src="icons/trash.svg" class="trashIcons">
              </button>
            </form>
          </div>
          <% } else { %>
          <div class="fileTrash">
            <form action="/home/delete/<%=req.params.folderID%>/<%= file.id %>" method="post">
              <button type="submit">
                <img src="icons/trash.svg" class="trashIcons">
              </button>
            </form>
          </div>
          <% } %>
        </div>
      <% }) %>
    <% } %>
  </div>
</div>
<script src="/helpers.js"></script>
